body {
    font:{
        family: 'Nunito Sans', sans-serif;
    }
}

b,
.bold {
    font:{
        weight: 700;
    }
}

.italic {
    font:{
        style: italic;
    }
}

.underline {
    text-decoration: underline;
}

svg {
    display: block;
}

.header-font {
    font-family: 'Montserrat', sans-serif;
}

.body-font {
    font-family: 'Nunito Sans', sans-serif;
}

.background-darkyellow {
    background-color: #FDC04A;
}

.background-yellow {
    background-color: #FFF9F0;
}

.background-blue {
    background-color: #003049;
}

.background-lightblue {
    background-color: #8BD3E3;
}

.background-red {
    background-color: #E46E63;
}

.background-orange {
    background-color: #F78002;
}

.color-white {
    color: white;
}

.color-blue {
    color: #003049;
}

.border-white {
    border-color: white;
}

.border-blue {
    border-color: #003049;
}

.border-yellow {
    border-color: #FFF9F0;
}

.border-darkyellow {
    border-color: #FDC04A;
}

.header-1 {
    font:{
        family: 'Montserrat', sans-serif;
        size: rem(50);
        weight: 700;
    }
    line-height: 1;
}

.header-2 {
    font:{
        family: 'Montserrat', sans-serif;
        size: rem(24);
        weight: 700;
    }
    line-height: 1;
}

.header-3 {
    font:{
        family: 'Montserrat', sans-serif;
        size: rem(18);
        weight: 700;
    }
    line-height: 1;
}

.body-1 {
    font:{
        family: 'Nunito Sans', sans-serif;
        size: rem(20);
        weight: 400;
    }
    line-height: 1.4;
}

.body-2 {
    font:{
        family: 'Nunito Sans', sans-serif;
        size: rem(18);
        weight: 400;
    }
    line-height: 1.4;
}

.body-3 {
    font:{
        family: 'Nunito Sans', sans-serif;
        size: rem(16);
        weight: 400;
    }
    line-height: 1.4;
}

.body-4 {
    font:{
        family: 'Nunito Sans', sans-serif;
        size: rem(14);
        weight: 400;
    }
    line-height: 1.4;
}

.button-1 {
    display: inline-block;
    @extend .background-darkyellow;
    @extend .uppercase;
    background-color: #FDC04A;
    border: rem(3) solid #003049;
    border-radius: rem(200);
    padding: rem(10) rem(35);
    transition: all 0.15s ease-in-out;
    &:hover {
        background-color: #EAB141;
    }
}

.button-2 {
    font:{
        family: 'Montserrat', sans-serif;
        size: rem(16);
    }
    display: inline-block;
    @extend .background-blue;
    @extend .uppercase;
    @extend .bold;
    color: #FDC04A;
    border: rem(3) solid #003049;
    border-radius: rem(200);
    padding: rem(10) rem(35);
}

.rounded {
    display: inline-block;
    padding: rem(10) rem(20);
    border: rem(3) solid;
    border-radius: rem(200);
}

svg {
    text {
        pointer-events: none;
    }
}

.global-complete-con {
    position: relative;
    background-color: #FFF9F0;
    border: rem(5) solid #003049;
    border-radius: rem(5);
    padding: rem(50);
    max-width: rem(500);
    margin:{
        left: auto;
        right: auto;
    }
    .mfp-close {
        color: #003049 !important;
        opacity: 1;
        -webkit-text-stroke-width: rem(2);
    }
}

.global-complete-word {
    font:{
        weight: 800;
    }
    text-transform: uppercase;
    color: white;
    background: #9E2B2B;
    padding: rem(5) rem(10);
    border-radius: rem(10);
    margin:{
        left: rem(5);
    }
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    .header-inner {
        display: flex;
        align-items: center;
    }
    .logo {
        display: inline-block;
        max-width: rem(250);
    }
    .nav {
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }
    .main-nav-ul {
        display: flex;
        align-items: center;
        margin:{
            right: rem(30);
        }
        li {
            &:not(:last-child) {
                margin:{
                    right: rem(30);
                }
            }
            a {
                color: #003049;
                &.active {
                    border: rem(3) solid #003049;
                    border-radius: rem(200);
                    padding: rem(5) rem(10);
                }
            }
        }
    }
    .social-nav-ul {
        display: flex;
        align-items: center;
        li {
            &:not(:last-child) {
                margin:{
                    right: rem(20);
                }
            }
        }
        svg {
            display: block;
            width: rem(18);
            height: rem(18);
            fill: #003049;
        }   
    }
}

.viewing-con {
    position: relative;
    border: rem(5) solid #003049;
    border-radius: rem(20);
    padding: rem(50) rem(40);
    .mfp-close {
        color: #003049 !important;
        opacity: 1;
        -webkit-text-stroke-width: rem(2);
    }
}

.scroller {
    position: fixed;
    top: 50%;
    right: 3%;
    transform: translateY(-50%);
    .each {
        width: rem(12);
        height: rem(12);
        border: rem(3) solid #003049;
        border-radius: 50%;
        &:not(:first-child) {
            margin:{
                top: rem(10);
            }
        }
        &.active {
            background-color: #003049;
        }
    }
}

.index-main-banner {
    .index-main-banner-inner {
        display: flex;
        align-items: center;
    }
}

.index-who {
    display: flex;
    align-items: center;
    justify-content: center;
    .index-who-inner {
        display: flex;
        align-items: center;
    }
    .image-con {
        display: inline-block;
        img {
            max-width: rem(200);
            margin:{
                left: auto;
            }
        }
    }
    .text-con {
        display: inline-block;
    }
}

.index-what {
    .text-con {
        .inner {
            max-width: rem(350);
            margin:{
                left: auto;
            }
        }
    }
    .image-con {
        img {
            max-width: rem(350);
        }
    }
}

.index-team {
    .index-team-ul {
        .each {
            &:before {
                content: '';
                display: inline-block;
                width: calc(100% - 40px);
                height: 100%;
                border: rem(5) solid #003049;
                border-radius: rem(20);
                position: absolute;
                top: rem(10);
                left: rem(30);
                z-index: 1;
            }
            &:first-child,
            &:last-child {
                margin:{
                    top: rem(-80);
                }
            }
            .inner {
                position: relative;
                padding: rem(30);
                border: rem(5) solid #003049;
                border-radius: rem(20);
                z-index: 2;
            }
            .image-con {
                border: rem(5) solid #003049;
                border-top-left-radius: rem(200);
                border-top-right-radius: rem(200);
                overflow: hidden;
            }
            .description {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                height: 100%;
                opacity: 0;
                transition: all 0.15s ease-in-out;
                border-radius: rem(20);
                padding: rem(30);
                display: flex;
                align-items: center;
                justify-content: center;
                &.active {
                    opacity: 1;
                }
            }
        }
    }
}

.index-partners {
    .sponsored-ul {
        img {
            max-height: rem(80);
            object-fit: contain;
        }
    }
}

.index-social {
    .index-social-ul {
        .svg-con {
            svg {
                width: rem(24);
                height: rem(24);
                margin:{
                    left: auto;
                    right: auto;
                }
                fill: #003049;
            }
        }
    }
}

/////////////
//SUSS PAGE//
////////////
.suss-main {
    display: flex;
    align-items: center;
    .each {
        height: 100%;
    }
    .left-con {
        display: flex;
        align-items: center;
    }
    .right-con {
        display: flex;
        align-items: flex-end;
        .main-img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: rem(300);
        }
    }
    .text-ul {
        counter-reset: number;
        list-style: none;
        li {
            display: flex;
            align-items: center;
            &:not(:first-child) {
                margin:{
                    top: rem(20);
                }
            }
            &:before {
                counter-increment: number;
                content: counter(number)"\a0";
                display: inline-block;
                font:{
                    family: 'Nunito Sans', sans-serif;
                    size: rem(16);
                    weight: 700;
                }
                line-height: 1;
                border: rem(3) solid #003049;
                border-radius: 50%;
                width: rem(40);
                height: rem(40);
                padding:{
                    left: rem(13);
                    top: rem(9);
                }
            }
            p {
                display: inline-block;
                width: calc(100% - 50px);
                padding:{
                    left: rem(15);
                }
            }
        }
    }
    .play-btn {
        font:{
            family: 'Nunito Sans', sans-serif;
            size: rem(22);
            weight: 800;
        }
        line-height: 1;
        width: rem(120);
        height: rem(120);
        border: rem(4) solid #003049;
        border-radius: 50%;
        background-color: #9E2B2B;
        text-transform: uppercase;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        margin:{
            left: auto;
            right: auto;
        }
    }
}

///////////////
//FIRST STAGE//
//////////////

.first-stage-con {
    .typeform-embed {
        border: rem(5) solid #003049;
        border-radius: rem(5);
        height: rem(600);
    }
}

////////////////
//SECOND STAGE//
///////////////

.second-stage-con {
    .inner {
        display: flex;
        align-items: flex-end;
        height: 100%;
    }
    .right-con {
        display: flex;
        align-items: flex-end;
        video {
            width: rem(500);
            margin:{
                left: auto;
                right: auto;
            }
        }
    }
    .response-con {
        position: absolute;
        bottom: rem(33);
        left: 50%;
        transform: translateX(-50%);
        width: 70%;
        input {
            width: 100%;
            padding: rem(20);
            background-color: #EEEFF0;
            border-radius: rem(200);
            &::placeholder {
                color: #003049;
                opacity: 0.5;
            }
        }
        .continue-btn {
            position: absolute;
            top: 50%;
            right: rem(15);
            transform: translateY(-50%);
            width: rem(35);
            height: rem(35);
            background: #9E2B2B;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            svg {
                width: rem(13);
                height: rem(13);
            }
        }
    }
}

///////////////
//THIRD STAGE//
//////////////

.third-stage-con {
    .left-bg {
        background-color: #FFF9F0;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 50%;
        height: 100vh;
        z-index: 1;
    }
    .right-bg {
        background-color: #003049;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 50%;
        height: 100vh;
        z-index: 1;
    }
    .inner {
        position: relative;
        z-index: 2;
    }
}

.coming-soon-con {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFBF5;
    height: 100vh;
}