body {
    font:{
        family: 'Nunito Sans', sans-serif;
    }
}

b,
.bold {
    font:{
        weight: 700;
    }
}

sup {
    vertical-align: super;
    font-size: smaller;
}

.italic {
    font:{
        style: italic;
    }
}

.underline {
    text-decoration: underline;
}

svg {
    display: block;
}

.header-font {
    font-family: 'Montserrat', sans-serif;
}

.body-font {
    font-family: 'Nunito Sans', sans-serif;
}

.background-darkyellow {
    background-color: #FDC04A;
}

.background-yellow {
    background-color: #FFF9F0;
}

.background-blue {
    background-color: #003049;
}

.background-lightblue {
    background-color: #8BD3E3;
}

.background-red {
    background-color: #9e2b2b;
}

.background-orange {
    background-color: #F78002;
}

.color-white {
    color: white;
}

.color-blue {
    color: #003049;
}

.color-yellow {
    color: #FDC04A;
}

.border-white {
    border-color: white;
}

.border-blue {
    border-color: #003049;
}

.border-yellow {
    border-color: #FFF9F0;
}

.border-darkyellow {
    border-color: #FDC04A;
}

.fill-white {
    fill: white;
    svg {
        fill: white;
    }
}

.fill-blue {
    fill: #003049;
    svg {
        fill: #003049;
    }
}

.header-1 {
    font:{
        family: 'Montserrat', sans-serif;
        size: rem(50);
        weight: 700;
    }
    line-height: 1;
}

.header-2 {
    font:{
        family: 'Montserrat', sans-serif;
        size: rem(24);
        weight: 700;
    }
    line-height: 1;
}

.header-3 {
    font:{
        family: 'Montserrat', sans-serif;
        size: rem(18);
        weight: 700;
    }
    line-height: 1;
}

.body-1 {
    font:{
        family: 'Nunito Sans', sans-serif;
        size: rem(20);
        weight: 400;
    }
    line-height: 1.4;
}

.body-2 {
    font:{
        family: 'Nunito Sans', sans-serif;
        size: rem(18);
        weight: 400;
    }
    line-height: 1.4;
}

.body-3 {
    font:{
        family: 'Nunito Sans', sans-serif;
        size: rem(16);
        weight: 400;
    }
    line-height: 1.4;
}

.body-4 {
    font:{
        family: 'Nunito Sans', sans-serif;
        size: rem(14);
        weight: 400;
    }
    line-height: 1.4;
}

.button-1 {
    display: inline-block;
    @extend .background-darkyellow;
    @extend .uppercase;
    background-color: #FDC04A;
    border: rem(3) solid #003049;
    border-radius: rem(200);
    padding: rem(10) rem(35);
    transition: all 0.15s ease-in-out;
    &:hover {
        background-color: #EAB141;
    }
}

.button-2 {
    font:{
        family: 'Montserrat', sans-serif;
        size: rem(16);
    }
    display: inline-block;
    @extend .background-blue;
    @extend .uppercase;
    @extend .bold;
    color: #FDC04A;
    border: rem(3) solid #003049;
    border-radius: rem(200);
    padding: rem(10) rem(35);
}

.rounded {
    display: inline-block;
    padding: rem(10) rem(20);
    border: rem(3) solid;
    border-radius: rem(200);
}

svg {
    text {
        pointer-events: none;
    }
}

.global-complete-con {
    position: relative;
    background-color: #FFF9F0;
    border: rem(5) solid #003049;
    border-radius: rem(5);
    padding: rem(50);
    max-width: rem(500);
    margin:{
        left: auto;
        right: auto;
    }
    .mfp-close {
        color: #003049 !important;
        opacity: 1;
        -webkit-text-stroke-width: rem(2);
    }
}

.global-complete-word {
    font:{
        weight: 800;
    }
    text-transform: uppercase;
    color: white;
    background: #9E2B2B;
    padding: rem(5) rem(10);
    border-radius: rem(10);
    margin:{
        left: rem(5);
    }
}

.z-10 {
    z-index: 10;
}

.bg-element {
  svg {
    width: auto;
    height: auto;
  }
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding:{
        top: rem(10);
        bottom: rem(10);
    }
    z-index: 100;
    .header-inner {
        display: flex;
        align-items: center;
    }
    .logo {
        display: inline-block;
        max-width: rem(150);
    }
    .nav {
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }
    .main-nav-ul {
        display: flex;
        align-items: center;
        margin:{
            right: rem(30);
        }
        li {
            &:not(:last-child) {
                margin:{
                    right: rem(30);
                }
            }
            a {
                &.active {
                    border: rem(3) solid;
                    border-radius: rem(200);
                    padding: rem(5) rem(10);
                }
            }
        }
    }
    .social-nav-ul {
        display: flex;
        align-items: center;
        li {
            &:not(:last-child) {
                margin:{
                    right: rem(20);
                }
            }
        }
        svg {
            display: block;
            width: rem(18);
            height: rem(18);
        }   
    }
}

.index-body {
    overflow-x: hidden;
}

.viewing-con {
    position: relative;
    border: rem(5) solid #003049;
    border-radius: rem(20);
    padding: rem(50) rem(40);
    .mfp-close {
        color: #003049 !important;
        opacity: 1;
        -webkit-text-stroke-width: rem(2);
    }
}

.scroller {
    position: fixed;
    top: 50%;
    right: 3%;
    transform: translateY(-50%);
    .each {
        width: rem(12);
        height: rem(12);
        border: rem(3) solid #003049;
        border-radius: 50%;
        &:not(:first-child) {
            margin:{
                top: rem(10);
            }
        }
        &.active {
            background-color: #003049;
        }
    }
}

.index-main-banner {
    display: flex;
    align-items: center;
    .index-main-banner-inner {
        display: flex;
        align-items: center;
    }
    .svg-bg1 {
        position: absolute;
        top: rem(-100);
        left: rem(-200);
    }
    .svg-bg2 {
        position: absolute;
        bottom: rem(-200);
        left: 0;
    }
    .svg-bg3 {
        position: absolute;
        bottom: rem(-200);
        right: 0;
    }
    .svg-bg4 {
        position: absolute;
        bottom: rem(-400);
        right: rem(-270);
    }
}

.index-who {
    display: flex;
    align-items: center;
    justify-content: center;
    .index-who-inner {
        display: flex;
        align-items: center;
    }
    .image-con {
        display: inline-block;
        img {
            max-width: rem(200);
            margin:{
                left: auto;
            }
        }
    }
    .text-con {
        display: inline-block;
    }
}

.index-what {
    .text-con {
        .inner {
            max-width: rem(350);
            margin:{
                left: auto;
            }
        }
    }
    .image-con {
        img {
            max-width: rem(350);
        }
    }
    .svg-bg1 {
        position: absolute;
        top: rem(30);
        left: rem(-40);
    }
    .svg-bg2 {
        position: absolute;
        top: rem(230);
        left: rem(-160);
    }
    .svg-bg3 {
        position: absolute;
        bottom: rem(-250);
        left: rem(-200);
    }
    .svg-bg4 {
        position: absolute;
        top: rem(-130);
        right: rem(-100);
    }
    .svg-bg5 {
        position: absolute;
        top: rem(150);
        right: rem(-170);
    }
    .svg-bg6 {
        position: absolute;
        bottom: rem(-120);
        right: 0;
    }
}

.index-team {
    .index-team-ul {
        .each {
            &:before {
                content: '';
                display: inline-block;
                width: calc(100% - 40px);
                height: 100%;
                border: rem(5) solid #003049;
                border-radius: rem(20);
                position: absolute;
                top: rem(10);
                left: rem(30);
                z-index: 1;
            }
            &:first-child,
            &:last-child {
                margin:{
                    top: rem(-80);
                }
            }
            .inner {
                position: relative;
                padding: rem(30);
                border: rem(5) solid #003049;
                border-radius: rem(20);
                z-index: 2;
            }
            .image-con {
                border: rem(5) solid #003049;
                border-top-left-radius: rem(200);
                border-top-right-radius: rem(200);
                overflow: hidden;
            }
            .description {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                height: 100%;
                opacity: 0;
                transition: all 0.15s ease-in-out;
                border-radius: rem(20);
                padding: rem(30);
                display: flex;
                align-items: center;
                justify-content: center;
                &.active {
                    opacity: 1;
                }
            }
        }
    }
    .svg-bg1 {
        position: absolute;
        top: rem(350);
        left: rem(180);
    }
    .svg-bg2 {
        position: absolute;
        top: rem(400);
        right: rem(200);
    }
}

.index-partners {
    .sponsored-ul {
        img {
            max-height: rem(80);
            object-fit: contain;
        }
    }
    .svg-bg1 {
        position: absolute;
        top: rem(-100);
        left: rem(-200);
    }
    .svg-bg2 {
        position: absolute;
        top: 0;
        right: rem(-200);
    }
    .svg-bg3 {
        position: absolute;
        top: rem(300);
        left: rem(-200);
    }
    .svg-bg4 {
        position: absolute;
        top: rem(400);
        right: rem(-250);
    }
    .svg-bg5 {
        position: absolute;
        bottom: 0;
        left: rem(-100);
    }
    .svg-bg6 {
        position: absolute;
        bottom: rem(80);
        right: rem(100);
    }
}

.index-social {
    .index-social-ul {
        .svg-con {
            svg {
                width: rem(24);
                height: rem(24);
                margin:{
                    left: auto;
                    right: auto;
                }
                fill: #003049;
            }
        }
    }
}

/////////////
//SUSS PAGE//
////////////
.suss-main {
    display: flex;
    align-items: center;
    .each {
        height: 100%;
    }
    .left-con {
        display: flex;
        align-items: center;
    }
    .right-con {
        display: flex;
        align-items: flex-end;
        .main-img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: rem(300);
        }
    }
    .text-ul {
        counter-reset: number;
        list-style: none;
        li {
            display: flex;
            align-items: center;
            &:not(:first-child) {
                margin:{
                    top: rem(20);
                }
            }
            &:before {
                counter-increment: number;
                content: counter(number)"\a0";
                display: inline-block;
                font:{
                    family: 'Nunito Sans', sans-serif;
                    size: rem(16);
                    weight: 700;
                }
                line-height: 1;
                border: rem(3) solid #003049;
                border-radius: 50%;
                width: rem(40);
                height: rem(40);
                padding:{
                    left: rem(13);
                    top: rem(9);
                }
            }
            p {
                display: inline-block;
                width: calc(100% - 50px);
                padding:{
                    left: rem(15);
                }
            }
        }
    }
    .play-btn {
        font:{
            family: 'Nunito Sans', sans-serif;
            size: rem(22);
            weight: 800;
        }
        line-height: 1;
        width: rem(120);
        height: rem(120);
        border: rem(4) solid #003049;
        border-radius: 50%;
        background-color: #9E2B2B;
        text-transform: uppercase;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        margin:{
            left: auto;
            right: auto;
        }
    }
    .svg-bg1 {
        position: absolute;
        top: rem(30);
        left: rem(-140);
    }
    .svg-bg2 {
        position: absolute;
        top: rem(180);
        left: rem(-60);
    }
    .svg-bg3 {
        position: absolute;
        top: rem(150);
        right: rem(80);
    }
    .svg-bg4 {
        position: absolute;
        bottom: rem(40);
        left: rem(-100);
    }
    .svg-bg5 {
        position: absolute;
        bottom: rem(-100);
        right: rem(-200);
    }
    .svg-bg6 {
        position: absolute;
        top: rem(250);
        right: 0;
    }
    .svg-bg7 {
        position: absolute;
        bottom: rem(100);
        right: 0;
    }
}

///////////////
//FIRST STAGE//
//////////////

.first-stage-con {
    .inner {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        padding:{
            bottom: 5%;
        }
    }
    .typeform-embed {
        border: rem(5) solid #003049;
        border-radius: rem(5);
        width: 100%;
        height: rem(500);
    }
    .svg-bg1 {
        position: absolute;
        top: rem(50);
        left: rem(50);
    }
    .svg-bg2 {
        position: absolute;
        top: rem(450);
        left: rem(20);
    }
    .svg-bg3 {
        position: absolute;
        bottom: 0;
        left: 0;
    }
    .svg-bg4 {
        position: absolute;
        top: rem(170);
        right: rem(50);
    }
    .svg-bg5 {
        position: absolute;
        bottom: 0;
        right: rem(-280);
    }
    .svg-bg6 {
        position: absolute;
        bottom: rem(300);
        right: rem(20);
    }
    .svg-bg7 {
        position: absolute;
        bottom: 0;
        right: rem(150);
    }
}

////////////////
//SECOND STAGE//
///////////////

.second-stage-con {
    .inner {
        height: 100%;
    }
    .left-con {
        height: 100%;
    }
    .right-con {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        height: 100%;
        video {
            width: rem(500);
            margin:{
                left: auto;
                right: auto;
            }
            max-height: rem(650);
            display: flex;
        }
    }
    .response-con {
        position: absolute;
        bottom: rem(30);
        left: 50%;
        transform: translateX(-50%);
        width: 55%;
        input {
            width: 100%;
            padding: rem(12) rem(20);
            background-color: #EEEFF0;
            border-radius: rem(200);
            &::placeholder {
                color: #003049;
                opacity: 0.5;
            }
        }
        .continue-btn {
            position: absolute;
            top: 50%;
            right: rem(10);
            transform: translateY(-50%);
            width: rem(30);
            height: rem(30);
            background: #9E2B2B;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            svg {
                width: rem(13);
                height: rem(13);
            }
        }
    }
    .svg-bg1 {
        position: absolute;
        left: rem(-230);
        bottom: rem(-250);
    }
    .svg-bg2 {
        position: absolute;
        left: rem(-200);
        bottom: rem(250);
    }
    .svg-bg3 {
        position: absolute;
        left: rem(-100);
        bottom: rem(50);
    }
    .svg-bg4 {
        position: absolute;
        left: rem(120);
        bottom: rem(-40);
        svg {
            height: 100%;
        }
    }
    .svg-bg5 {
        position: absolute;
        left: rem(-50);
        bottom: rem(200);
    }
    .svg-bg6 {
        position: absolute;
        right: rem(-200);
        bottom: rem(100);
    }
    .svg-bg7 {
        position: absolute;
        right: rem(-220);
        bottom: rem(320);
    }
    .svg-bg8 {
        position: absolute;
        right: rem(-80);
        bottom: rem(50);
    }
}

///////////////
//THIRD STAGE//
//////////////

.third-stage-con {
    .left-bg {
        background-color: #FFF9F0;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 39%;
        height: 100vh;
        z-index: 1;
    }
    .right-bg {
        background-color: #003049;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 61%;
        height: 100vh;
        overflow: hidden;
        z-index: 1;
    }
    .inner {
        position: relative;
        z-index: 2;
        .right-con {
            display: flex;
            align-items: center;
            justify-content: center;
            .each {
                cursor: pointer;
                opacity: 0.5;
                transition: all 0.15s ease-in-out;
                &.active {
                    opacity: 1;
                }
                &.inactive {
                    opacity: 0.5 !important;
                }
                &.active-click {
                    opacity: 1 !important;
                }
            }
            .svg-con {
                svg {
                    height: 100%;
                }
            }
            .copy {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                height: 100%;
                background: white;
                border-radius: rem(28);
                padding: rem(30);
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                opacity: 0;
                transition: all 0.15s ease-in-out;
                &.active {
                    opacity: 1;
                }
                ul {
                    padding:{
                        left: rem(15);
                    }
                    li {
                        &:before {
                            content: '\2022';
                            color: #003049;
                            display: inline-block;
                            width: 1em;
                            margin-left: -1em;
                        }
                    }
                }
            }
            .next-con {
                opacity: 0;
                pointer-events: none;
                transition: all 0.15s ease-in-out;
                &.active {
                    opacity: 1;
                    pointer-events: all;
                }
                p {
                    display: inline-block;
                    cursor: pointer;
                }
                button {
                    width: rem(35);
                    height: rem(35);
                    background-color: #FDC04A;
                    border-radius: 50%;
                    margin:{
                        left: rem(5);
                    }
                    cursor: pointer;
                    svg {
                        width: rem(13);
                        height: rem(13);
                        margin:{
                            left: auto;
                            right: auto;
                        }
                    }
                }
            }
        }
    }
    .svg-bg1 {
        position: absolute;
        left: rem(-270);
        bottom: rem(200);
    }
    .svg-bg2 {
        position: absolute;
        left: 0;
        bottom: 0;
    }
    .svg-bg3 {
        position: absolute;
        right: rem(100);
        bottom: rem(200);
    }
    .svg-bg4 {
        position: absolute;
        right: rem(70);
        bottom: rem(-40);
    }
    .svg-bg5 {
        position: absolute;
        left: rem(-350);
        bottom: rem(-40);
    }
    .svg-bg6 {
        position: absolute;
        right: rem(-150);
        top: rem(200);
    }
}

////////////////
//FOURTH STAGE//
////////////////

.fourth-section-con {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

///////////////
//FIFTH STAGE//
///////////////

.fifth-section-con {
    .left-bg {
        position: absolute;
        top: 0;
        left: 0;
        background-color: #FFF9F0;
        width: 39%;
        height: 100vh;
        z-index: 1;
    }
    .right-bg {
        position: absolute;
        top: 0;
        right: 0;
        background-color: #003049;
        width: 61%;
        height: 100vh;
        overflow: hidden;
        z-index: 1;
    }
    .inner {
        position: relative;
        z-index: 2;
    }
    .left-con {
      height: 100%;
    }
    .right-con {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .question-list {
        position: relative;
        .each {
            position: relative;
            &:not(:first-child) {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                opacity: 0;
                transition: all 0.5s ease-in-out;
            }
            &.answered {
                pointer-events: none;
                .question {
                    opacity: 0;
                }
                .arrow-svg {
                    opacity: 0;
                }
                .each-answer:not(.active) {
                    opacity: 0;
                }
            }
            &.active {
                opacity: 1;
            }
        }
        .question {
            background-color: #FFF9F0;
            padding: rem(30);
            border-radius: rem(20);
            transition: all 0.5s ease-in-out;
        }
        .arrow-svg {
            transition: all 0.5s ease-in-out;
        }
        .answers {
            display: flex;
            position: relative;
            transition: all 0.5s ease-in-out;
        }
        .each-answer {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #FFF9F0;
            padding: rem(30) rem(10);
            border-radius: rem(20);
            width: 50%;
            cursor: pointer;
            transition: all 0.5s ease-in-out;
            p {
                transition: all 0.5s ease-in-out;
            }
            &.active {
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 100%;
                padding: rem(30);
                margin:{
                    left: 0;
                    right: 0;
                }
                p {
                    font:{
                        family: 'Montserrat', sans-serif;
                        size: rem(24);
                        weight: 600;
                    }
                    line-height: 1;
                }
            }
        }
    }
    .endings {
        opacity: 0;
        pointer-events: none;
        &.active {
            pointer-events: all;
        }
    }
    .next-con {
        opacity: 0;
        p {
            display: inline-block;
            cursor: pointer;
        }
        button {
            width: rem(35);
            height: rem(35);
            background-color: #FDC04A;
            border-radius: 50%;
            margin:{
                left: rem(5);
            }
            cursor: pointer;
            svg {
                width: rem(13);
                height: rem(13);
                margin:{
                    left: auto;
                    right: auto;
                }
            }
        }
    }
    .svg-bg1 {
      position: absolute;
      left: 0;
      bottom: rem(-80);
    }
    .svg-bg2 {
      position: absolute;
      left: rem(80);
      bottom: 0;
    }
    .svg-bg3 {
      position: absolute;
      left: rem(20);
      bottom: rem(370);
    }
    .svg-bg4 {
      position: absolute;
      right: rem(-20);
      top: rem(150);
    }
    .svg-bg5 {
      position: absolute;
      left: rem(100);
      top: rem(-110);
    }
    .svg-bg6 {
        position: absolute;
        right: rem(-80);
        top: rem(200);
    }
    .svg-bg7 {
        position: absolute;
        left: 0;
        top: rem(500);
    }
    .svg-bg8 {
        position: absolute;
        right: rem(-80);
        bottom: rem(-100);
    }
}

///////////////
//SIXTH STAGE//
///////////////

.sixth-stage-con {
    .left-bg {
        position: absolute;
        top: 0;
        left: 0;
        background-color: #FFF9F0;
        width: 39%;
        height: 100vh;
        z-index: 1;
    }
    .right-bg {
        position: absolute;
        top: 0;
        right: 0;
        background-color: #003049;
        width: 61%;
        height: 100vh;
        z-index: 1;
    }
    .inner {
        position: relative;
        z-index: 2;
    }
    .right-con {
        display: flex;
        align-items: center;
        justify-content: center;
        .play-btn {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: rem(150);
            height: rem(150);
            background-color: #9B2C2E;
            border: rem(2) solid #003049;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            cursor: pointer;
            opacity: 0;
            transition-property: opacity, transform;
            transition-duration: 0.8s;
            transition-timing-function: ease-in-out;
            transition-delay: 0.3s;
            &.default {
                transform: translate(-50%, -50%) scale(1.2);
            }
            &.animate-it {
                opacity: 1;
                transform: translateZ(0) translate(-50%, -50%) scale(1);
            }
        }
        .svg-arrow {
            position: absolute;
            top: rem(-25);
            left: 50%;
            transform: translateX(-50%);
            width: fit-content;
            opacity: 0;
            transition-property: opacity, transform;
            transition-duration: 0.8s;
            transition-timing-function: ease-in-out;
            transition-delay: 0.3s;
            &.default {
                transform: translateX(-50%) scale(1.2);
            }
            &.animate-it {
                opacity: 1;
                transform: translateZ(0) translateX(-50%) scale(1);
            }
        }
    }
    .svg-bg1 {
        position: absolute;
        left: rem(-150);
        bottom: rem(100);
    }
    .svg-bg2 {
        position: absolute;
        left: rem(-200);
        bottom: rem(-20);
    }
    .svg-bg3 {
        position: absolute;
        right: 0;
        bottom: rem(400);
    }
}

.full-message-con {
    position: relative;
    background-color: #FFF9F0;
    border: rem(5) solid #003049;
    border-radius: rem(5);
    padding: rem(50);
    max-width: rem(500);
    margin:{
        left: auto;
        right: auto;
    }
}

.full-message-con {
    position: relative;
    background-color: #FFF9F0;
    border: rem(5) solid #003049;
    border-radius: rem(5);
    padding: rem(50);
    max-width: rem(500);
    margin:{
        left: auto;
        right: auto;
    }
}

.sixth-stage-complete {
    .final-btn {
        font:{
            size: rem(16);
        }
    }
}

.answer-con {
    border: rem(5) solid #003049;
    border-radius: rem(5);
}

.coming-soon-con {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFBF5;
    height: 100vh;
}