/* This defines the minimum, maximum and step for the widths */
/* PLEASE UPDATE style-guide/width.php IF YOU CHANGE VALUES */
$width_max:1250;
$width_step:5;
$width_min:5;
@while $width_max >= $width_min {
	.max-#{$width_max} {
		max-width:rem($width_max);
		margin-left:auto;
		margin-right:auto;
	}
	.max-#{$width_max}-no-auto {
		max-width:rem($width_max);
	}
	$width_max: $width_max - $width_step;
}