// Page Layout
// ===========

// Typography
// ==========


//'adobe-garamond-pro', 'adriane',
$base: 1rem;
$base-line-height: 1.4;

//Essentials

// Default Transition Settings
// ===========================
$default-transition-duration: 0.125s;
$default-transition-easing: ease-in;
$default-transition-delay: 0s;

// Screen sizes
// ============

// Essentials
$gutter : 20px;



// Retina DPI threshold
// ==================
$retina-dpi: 144;

